header {
	font-family: 'Courier New', Courier, monospace;
  	background-color: papayawhip;
	display: flex;
	flex-direction: row;
	align-items: center;
}

ul {
	list-style-type: none;
	display: flex;
	margin: 0;
	padding: 0;
}

a {
	font-size: 22px;
	padding: 8px;
	text-decoration: none;
	background: white;
	color: blue;
	margin-right: 10px;
}

.logo {
	font-size: 48px;
	font-weight: 900;
	font-family: 'Times New Roman', Times, serif;
	color: tomato;
	background: white;
	padding: 4px, 32px;
	margin: 15px 0;
	padding: 8px;
	align-self: center;
}

.left-links {
	margin-right: auto;
	margin-left: 10px;
}

.right-links {
	margin-left: auto;
}