/* this is some magical font-importing.  
you'll learn about it later. */
@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');



body {
  background: #eee;
  font-family: Besley, serif;
  margin: 0;
}

ul {
  list-style: none;
  display: flex;
  gap: 16px;
  margin: 0;
  padding: 0;
}

.header {
  background: white;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 8px rgba(0,0,0,.1);
  padding: 8px;
  display: flex;
  justify-content: space-between;
}

.left-side {
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 16px;
}

.right-side {
  display: flex;
  justify-content: center;
  gap: 16px;
  align-items: center;
}

.profile-image {
  background-color: rebeccapurple;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
}

.notifications {
  background-color: rebeccapurple;
  color: white;
  padding: 8px 24px;
  border: none;
  border-radius: 8px;
}

a {
  text-decoration: none;
  color: rebeccapurple;
}

.logo {
  font-size: 32px;
  color: rebeccapurple;
  font-weight: 900;
  font-style: italic;
}